/* Estilos para o container do jogo */
#gameContainer {
  display: flex; /* Escondido por padrão, JavaScript vai mostrar */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 0; /* Remove a margem superior que tinha antes */
  transition: opacity 0.5s ease-in-out;
}

#gameContainer.game-hidden {
  display: none; /* Esconde o container do jogo */
  opacity: 0;
  visibility: hidden;
}

#gameContainer.game-visible {
  display: flex; /* Mostra o container do jogo */
  opacity: 1;
  visibility: visible;
}

canvas {
  border: 5px solid #2c3e50;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#scoreBoard {
  font-size: 24px;
  font-weight: bold;
  color: #2c3e50;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#levelDisplay {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  color: #ff00ff; /* Rosa Neon */
  text-shadow: 0 0 10px #ff00ff;
  font-weight: bold;
  margin: 5px 0;
}
