.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo escurecido */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background-color: #052939;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  color: white;
  border: 2px solid #c000fa;
  box-shadow: 0 0 50px rgba(162, 2, 255, 0.5);
}

#gameOverModal h1 {
  font-family: "Press Start 2P", system-ui;
  color: #2bebec;
  margin-bottom: 15px;
  font-size: 36px;
  text-shadow: 0 0 10px #00f2ff, 0 0 20px #00f2ff;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

#btnRestart {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
#btnCancel {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.hidden {
  display: none !important;
}

.monitor-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%; /* Responsivo para telas menores */
  position: relative;
}

.ranking-container {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  min-width: 250px;
  font-family: "Courier New", Courier, monospace;
}

.ranking-item {
  display: flex;
  justify-content: space-between; /* Nome na esquerda, pontos na direita */
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 242, 255, 0.2);
  color: #4de8b2; /* Verde neon */
  font-size: 1.2rem;
  text-transform: uppercase;
}

.ranking-item:last-child {
  border-bottom: none;
}

.ranking-item .rank-pos {
  color: #ff00ff; /* Rosa para a posição (1º, 2º...) */
  margin-right: 10px;
}

.ranking-item .player-score {
  color: #fff;
  font-weight: bold;
}
