.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo escurecido */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background-color: #052939;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  color: white;
  border: 2px solid #c000fa;
  box-shadow: 0 0 50px rgba(162, 2, 255, 0.5);
}

#gameOverModal h1 {
  font-family: "Press Start 2P", system-ui;
  color: #2bebec;
  margin-bottom: 15px;
  font-size: 36px;
  text-shadow: 0 0 10px #00f2ff, 0 0 20px #00f2ff;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

#btnRestart {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
#btnCancel {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.hidden {
  display: none !important;
}

.monitor-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%; /* Responsivo para telas menores */
  position: relative;
}
