body {
  background-image: url("../img/background2.svg");
  /* background-color: #2c3e50; Cor de fundo alternativa */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif; /* Adicionei uma fonte padrão */
}

/* Estilos para a capa do jogo */
#gameCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Espaço entre a imagem e o botão */
  background-color: #34495e; /* Fundo escuro para a capa */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s ease-in-out;
}

#gameCover.cover-hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute; /* Esconde de forma que não ocupe espaço */
}

#gameCover img {
  max-width: 80%; /* Ajusta o tamanho da imagem da capa */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#playerName {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #00f2ff;
  background: #1a1a2e;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

/* No seu style.css */
@keyframes flash-evolucao {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(2) saturate(1.5);
  }
  100% {
    filter: brightness(1);
  }
}

.efeito-evolucao {
  animation: flash-evolucao 0.5s ease-out;
}
