body {
  background-color: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif; /* Adicionei uma fonte padrão */
}

/* Estilos para a capa do jogo */
#gameCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Espaço entre a imagem e o botão */
  background-color: #34495e; /* Fundo escuro para a capa */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s ease-in-out;
}

#gameCover.cover-hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute; /* Esconde de forma que não ocupe espaço */
}

#gameCover img {
  max-width: 80%; /* Ajusta o tamanho da imagem da capa */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
